<ion-header>
  <ion-navbar>
    <ion-title>
      <img src="assets/imgs/logo_itsm.png" height="40" alt="">
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card>

  <ion-card-header>
    Bienvenido
  </ion-card-header>

  <ion-card-content>
    <ion-list>
      <ion-item>
        <ion-label stacked>Direccion IP ó dominio del servidor</ion-label>
        <ion-input #direccion (keyup.enter)="saveServer(direccion.value)" type="text"></ion-input>
      </ion-item>
    </ion-list>
    <br>
    <button ion-button (click)="saveServer(direccion.value)">Guardar</button>
  </ion-card-content>

</ion-card>
</ion-content>
